@use "./typeography";

/* V-LAYOUT */
.v-layout {
	//border: 2px solid orange;
	width: 100%;
	flex-direction: column;
}

/* V-MAIN */
.v-main {
}

/* V-INPUT */
.v-input {
	//border: 2px solid red;

	.v-input__control {
		//border: 2px solid yellow;

		.v-field {
			//border: 2px solid green;
			cursor: pointer;

			.v-field__overlay {
				//border: 2px solid orange;
			}

			.v-field__loader {
				//border: 2px solid black;

				.v-progress-linear {
					//border: 2px solid purple;

					.v-progress-linear__background {
						//border: 2px solid red;
					}

					.v-progress-linear__indeterminate {
						//border: 2px solid yellow;

						.short {
							//border: 2px solid yellow;
						}

						.long {
							//border: 2px solid yellow;
						}
					}
				}
			}

			.v-field__field {
				//border: 2px solid red;
				cursor: pointer;

				input {
					//border: 2px solid red;
					cursor: text;
				}

				.v-label {
					//border: 2px solid orange;
					cursor: pointer;
					font-size: typeography.$font_size_pc_body;
				}

				.v-field__input {
					//border: 2px solid red;

					.v-select__selection {
						//border: 2px solid black;
						color: rgb(var(--v-theme-accent));

						span {
							//border: 2px solid orange;
							cursor: pointer;
						}
					}
				}
			}

			.v-field__clearable {
				//border: 2px solid red;
			}

			.v-field__append-inner {
				//border: 2px solid black;
				cursor: pointer;

				i {
					//border: 2px solid blue;
					cursor: pointer;
				}
			}

			.v-field__outline {
				//border: 2px solid red;

				.v-field-label {
					//border: 2px solid blue;
					color: rgb(var(--v-theme-default));
				}
			}
		}

		.v-field--active {
		}
	}

	.v-input__details {
	}
}

/* V-LIST */
.v-list {
	//border: 2px solid red;
	cursor: pointer;
	color: rgb(var(--v-theme-default));

	.v-list-item {
		//border: 2px solid orange;
		cursor: pointer;
		color: rgb(var(--v-theme-default));
		background-color: transparent;

		&:hover {
			color: rgb(var(--v-theme-inverted));
			background-color: rgb(var(--v-theme-accent));
		}

		.v-list-item__overlay {
			//border: 2px solid black;
			cursor: pointer;
		}

		.v-list-item__underlay {
			//border: 2px solid red;
			cursor: pointer;
		}

		.v-list-item__content {
			//border: 2px solid blue;
			cursor: pointer;

			.v-list-item-title {
				cursor: pointer;
			}
		}
	}

	.v-list-item--active {
		color: rgb(var(--v-theme-accent));
		background-color: transparent;
	}
}

/* V-BTN */
.v-btn {
	cursor: pointer;
	text-transform: uppercase;
	background-color: transparent;
	color: rgb(var(--v-theme-default));

	&:hover {
		background-color: rgb(var(--v-theme-accent));
		color: rgb(var(--v-theme-inverted));

		.v-btn__content {
			.v-icon {
				fill: rgb(var(--v-theme-inverted));
			}
		}

		.v-btn--variant-outlined {
			border: thin solid rgb(var(--v-theme-inverted));
		}
	}

	span {
		cursor: pointer;
	}

	.v-icon {
		cursor: pointer;
	}

	.v-btn__overlay {
	}

	.v-btn__underlay {
	}

	.v-btn__content {
		cursor: pointer;
		font-size: typeography.$font_size_pc_btn;

		.v-icon {
			svg {
				cursor: pointer;

				path {
					cursor: pointer;
				}
			}
		}
	}
}
.v-btn--variant-outlined {
	border: thin solid rgb(var(--v-theme-default));
}

/* V-ICONS */
.v-icon {
	font-size: typeography.$font_size_pc_body;
}

/* V-WINDOW */
.v-window {
	.v-window__container {
		.v-window__controls {
			.v-btn {
				background-color: rgb(var(--v-theme-inverted));
				color: rgb(var(--v-theme-default));

				&:hover {
					background-color: rgb(var(--v-theme-accent));
					color: rgb(var(--v-theme-inverted));
				}
			}
		}
	}

	.v-carousel__controls {
		.v-btn {
			background-color: transparent;

			&:hover {
				background-color: rgb(var(--v-theme-accent));
			}
		}

		.v-btn--active {
			.v-icon {
				background-color: transparent;
				color: rgb(var(--v-theme-accent));
			}
		}
	}
}

/* V-CARD */
.v-card {
	.v-card__loader {
	}

	.v-card-text {
	}

	.v-card-actions {
	}

	.v-card-underlay {
	}
}

/* V-OVERLAY */
.v-overlay {
	.v-overlay__content {
		cursor: pointer;
	}
}

/* V-RATING */
.v-rating {
	//border: 2px solid red;

	.v-rating__wrapper {
		//border: 2px solid green;

		.v-rating__item {
			//border: 2px solid blue;

			.v-rating__item--half {
				//border: 2px solid yellow;
			}

			.v-rating__item--full,
			.v-rating__item--half {
				//border: 2px solid yellow;

				.v-btn {
					//border: 2px solid green;

					.v-icon {
						//border: 2px solid black;
						color: rgb(var(--v-theme-inverted));
					}
				}
			}
		}
	}
}
